

#solo-parking-name{
    display: flex;
    background-color: var(--primary-200);
    color: white;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    height: 10vw;
    font-size: 5vw;
    border-radius: 10px ;
}

.solo-parking-detail{
    display: flex;
    background-color: var(--bg-200);
    width: 80%;
    height: 10vw;
    margin: 2vw;
    border-radius: 15px;
    font-size: 4vw;
}
.solo-parking-detail-divforicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.solo-parking-detail-divfortext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#solo-parking-body{
    width: 100%;
}
.icon-con{
    width: 5vw;
    height: auto;
}
#solo-parking-img-container{
    width: 90%;
    display: flex;
    height: 60vw;
    margin-top: 5vw;
    margin-bottom: 5vh;
}

@media screen and (min-width: 450px){
    #solo-parking-name{
        width: 30%;
        font-size: 2vw;
        height: 3.2vw;
        margin: 1vw;
    }
    .solo-parking-detail{
        width: 30%;
        height: 3.2vw;
        margin: 0.5vw;
        border-radius: 15px;
        font-size: 2vw;
    }
    .icon-con{
        width: 2vw;
    }
    #solo-parking-img-container{
        width: 60%;
        display: flex;
        height: 45vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
}