#solo-parking-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#solo-parking-name{
    display: flex;
    background-color: var(--primary-200);
    color: white;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    height: 10vw;
    font-size: 5vw;
    border-radius: 10px ;
}
.solo-parking-detail{
    display: flex;
    background-color: var(--bg-200);
    width: 80%;
    height: 10vw;
    margin: 2vw;
    border-radius: 15px;
    font-size: 4vw;
}
.solo-parking-detail-divforicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.solo-parking-detail-divfortext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#solo-parking-body{
    width: 100%;
}
.icon-con{
    width: 5vw;
    height: auto;
}
#solo-parking-img-container{
    width: 90%;
    display: flex;
    height: 60vw;
    margin-top: 5vw;
    margin-bottom: 5vh;
}
#Solo-parking-history-title{
    display: flex;
    width: 80%;
}
#edit-delete-container{
    margin: 1vw;
    margin-bottom: 4vw;
    width: 90%;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:450px){
    #edit-delete-container{
      align-items: center; 
    }
}
#edit-delete-icon{
    display: flex;
    justify-content: space-evenly;
}
#edit-div-btn{
    margin: 1vw;
}
#delete-div-btn{
    margin: 1vw;
}
#edit-delete-add{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
@media screen and (min-width:450px){
    #edit-delete-add{
        width: 30%;
    }
}
#edit-delete-add-top{
   display: flex;
   justify-content: center;
   align-items: center;
}
#edit-delete-add-bottom{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
}
#edit-delete-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-edit-delete-size{
    width: 12vw;
    height: auto;
}
@media screen and (min-width:450px){
    .icon-edit-delete-size{
        width: 3vw;
    }
}
#real-delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    padding: 1vw;
    margin: 2vw;
    background-color: red;
}
#savechange-btn{
    margin: 1vw;
    border-radius: 10px;
    background-color: rgb(9, 218, 9);
    color: white;
    width: 60%;

}
