

#solo-parking-name{
    display: flex;
    background-color: var(--primary-200);
    color: white;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    height: 10vw;
    font-size: 5vw;
    border-radius: 10px ;
}

.solo-parking-detail{
    display: flex;
    background-color: var(--bg-200);
    width: 80%;
    height: 10vw;
    margin: 2vw;
    border-radius: 15px;
    font-size: 4vw;
}
#bigdiv-oftable{
  font-size: clamp(8px, 1vw, 14px);
}
.solo-parking-detail-divforicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.solo-parking-detail-divfortext{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
}
#solo-parking-body{
    width: 100%;
}
.icon-con{
    width: 5vw;
    height: auto;
}
#solo-parking-img-container{
    width: 90%;
    display: flex;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

@media screen and (min-width: 450px){
    #solo-parking-name{
        width: 30%;
        font-size: 2vw;
        height: 3.2vw;
        margin: 1vw;
    }
    .solo-parking-detail{
        width: 30%;
        height: 3.2vw;
        margin: 0.5vw;
        border-radius: 15px;
        font-size: 2vw;
    }
    .solo-parking-detail-comment{
        width: 30%;
        margin: 0.5vw;
        border-radius: 15px;
        font-size: 2vw;
    }
    .icon-con{
        width: 2vw;
    }
    #solo-parking-img-container{
        width: 60%;
        display: flex;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
}
.parking-img{
    height: 30vh;
    object-fit: contain;
}
.solo-parking-detail-divfortext-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    word-wrap: break-word;
    
}
.solo-parking-detail-comment{
    display: flex;
    background-color: var(--bg-200);
    width: 80%;
    margin: 2vw;
    border-radius: 15px;
    font-size: 4vw;
}


.checkbox-apple {
    position: relative;
    width: 50px;
    height: 25px;
    margin: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .checkbox-apple label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #4cd964, #5de24e);
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label:after {
    transform: translateX(25px);
  }
  
  .checkbox-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  }
  
  .checkbox-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
  }
  .table-of-days{
    width: 100%;
  }