*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page{
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circle{
    height: 55vw;
    width: 55vw;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-100);
}

.circle >h2{
  font-size: calc(2rem + .9vw);
}

.circle-timer{
  background-color: white;
  display: flex;
  flex-direction: column;
}
.border-circle-timer{
 background-color: rgba(241, 45, 45, 0.979) !important;
}
#min-circles-container{
  width: 150%;
  margin-left: -25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mini-circles-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mini-circle{
  height: 80px;
  width: 80px;
  background-color: var(--white-text);
  border-radius: 100%;
  border: 3px solid black;
    box-shadow: inset 0px 0px 10px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}


.border-circle {
    height: 58vw;
    width: 58vw;
    background-color: #b396d38f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 10px 10px 50px 1px var(--accent-200); */
    margin-bottom: 10px;

  }

  @keyframes scaling {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1.0);
    }
    50% {
      transform: scale(1.1);
      -webkit-transform: scale(1.03);
    }
    100% {
      transform: scale(1);
      -webkit-transform: scale(1.0);
    }
  }

  .border-circle{
    animation: scaling 2s ease-in-out infinite alternate;
    -webkit-animation: scaling 2s ease-in-out infinite alternate;
    /* margin-bottom: 10px; */
  }


.circle>h1{
    font-size: 25px;
    color: white;
}



.my-parking-section{
    /* height: 48vw; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.my-parking-section>h2{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.boxes-my-parking-section-centered {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    justify-content: center;
}
.boxes-my-parking-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 95vw;
}
.my-parking-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .my-parking-box>h2{
    font-size: 18px;
}

p{
    margin-left: 5px;
} */

.my-parking-box > h2,
.my-parking-box > p {
    position: absolute;
    top: 50%; /* Adjust the positioning as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set the text color */
    z-index: 1; /* Ensure the text is on top of the picture */
}

.add-parking-box{
    display: flex;
    flex-direction: column;
}

.add-parking-box>h2{
    font-size: 18px;
    
}

.my-parking {
    position: relative;
    height: 48vw;
    width: 40vw;
    border-left: 3px solid;
    border-color: var(--primary-200);
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
  }

  .my-parking img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(81 80 80 / 66%);
    color: white;
    padding: 5px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .parking-name-my-parking{
    display: flex;
  }

  .parking-status-my-parking{
    display: flex;
    justify-content: center;
  }

  #icon-name-my-parking{
    width: 25px;
    height: 25px;
  }


  #icon-status-my-parking{
    width: 25px;
    height: 25px;
  }

#my-parking-img{
  height: 100%;
  object-fit: fill;
    position: relative;
    z-index: 0;
}


.add-parking{
    height: 48vw;
    width: 40vw;
    border-left: 3px solid;
    border-color: var(--primary-200);
    background-color:var(--bg-200);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.add-parking >h5 {
  text-align: center;
}


.last-history{
    width: 100%;
}

.last-history>h1{
    font-size: 20px;
    margin-left: 8%;
}

.Statistics-container>h1{
    font-size: 20px;
    margin-left: 8%;
}

.Statistics-container{
    width: 100%;
}

.first-pair-stat{
  display: flex;
  justify-content: space-evenly;
}
.second-pair-stat{
  display: flex;
  justify-content: space-evenly;
}

.box-stat{
  height: 48vw;
  width: 40vw;
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-200);
}

.icon-state{
  border-radius: 50%;
  background-color: #8B5FBF;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

.name-state > p{
  margin-left: 10px;
  margin-top: 10px;
}

.info-state >h1{
  font-weight: 900;
  margin-left: 10px;
  margin-top: 10px;
}
.popup{
  width: 70%;
  height: 70%;
  background-color: orange;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 70%;
}

.web-stat{
  display: none;
}

.first-pair-stat-web{
  display: flex;
  justify-content: space-evenly;
}
.second-pair-stat-web{
  display: flex;
  justify-content: space-evenly;
}

.box-stat-web{
  height: 230px;
    width: 180px;
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-200);
  margin-bottom: 20px;
  margin-right: 20px;
}

.icon-state-web{
  border-radius: 50%;
  background-color: #8B5FBF;
  height: 28%;
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

.name-state-web > p{
  margin-left: 8%;
  margin-top: 6%;
}

#data-p{
  font-weight: 900;
  margin-left: 8%;
  margin-top: 6%;
  font-size: 200%;
}


@media screen and (min-width: 450px){
  .Statistics-container{
      display: none;
  }

  .web-stat{
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 90%;
  }

  .last-history{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .last-history>h1{
  margin-left:0;
 }

 .history-item-text-add{
  cursor: pointer;
 }
}