*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.circle{
    height: 52vw;
    width: 52vw;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-100);
}
.circle-timer{
  background-color: rgb(241, 45, 45);
  display: flex;
  flex-direction: column;
}
.border-circle-timer{
 background-color: rgba(241, 45, 45, 0.979) !important;
}
.mini-circles-div{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.mini-circle{
  height: 100px;
  width: 100px;
  background-color: var(--primary-100);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.border-circle {
    height: 58vw;
    width: 58vw;
    background-color: #b396d38f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 10px 10px 50px 1px var(--accent-200); */
  }

  @keyframes scaling {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1.0);
    }
    50% {
      transform: scale(1.1);
      -webkit-transform: scale(1.03);
    }
    100% {
      transform: scale(1);
      -webkit-transform: scale(1.0);
    }
  }

  .border-circle{
    animation: scaling 2s ease-in-out infinite alternate;
    -webkit-animation: scaling 2s ease-in-out infinite alternate;
  }


.circle>h1{
    font-size: 25px;
    color: white;
}

/* @keyframes car {
    0% {
      left: -50px;
    }
    100% {
      right: calc(100% + 50px);
    }
  } */


/* .car {
    position: absolute;
    left: -60px;
    height: 60px; 
    width: auto;
    transition: left 2s linear; 
  }

  @keyframes car {
    0% {
      left: -50px;
    }

    100%{
        right: calc(100% + 50px);
    }
  }
  
  .find-circle.drive-animation .car {
    left: calc(100% + 50px); 
  } */


.my-parking-section{
    /* height: 48vw; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.my-parking-section>h2{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.boxes-my-parking-section-centered {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    justify-content: center;
}
.boxes-my-parking-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 95vw;
}
.my-parking-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .my-parking-box>h2{
    font-size: 18px;
}

p{
    margin-left: 5px;
} */

.my-parking-box > h2,
.my-parking-box > p {
    position: absolute;
    top: 50%; /* Adjust the positioning as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set the text color */
    z-index: 1; /* Ensure the text is on top of the picture */
}

.add-parking-box{
    display: flex;
    flex-direction: column;
}

.add-parking-box>h2{
    font-size: 18px;
    
}

.my-parking {
    position: relative;
    height: 48vw;
    width: 40vw;
    border-left: 3px solid;
    border-color: var(--primary-200);
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
  }

  .my-parking img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(81 80 80 / 66%);
    color: white;
    padding: 5px;
    text-align: center;
    height: 100%;
  }

#my-parking-img{
    position: relative;
    z-index: 0;
}


.add-parking{
    height: 48vw;
    width: 40vw;
    border-left: 3px solid;
    border-color: var(--primary-200);
    background-color:var(--bg-200);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10px;
    border-radius: 10px;
}




.last-history{
    width: 100%;
}

.last-history>h1{
    font-size: 20px;
    margin-left: 8%;
}

.Statistics-container>h1{
    font-size: 20px;
    margin-left: 8%;
}

.Statistics-container{
    width: 100%;
}

.first-pair-stat{
  display: flex;
  justify-content: space-evenly;
}
.second-pair-stat{
  display: flex;
  justify-content: space-evenly;
}

.box-stat{
  height: 48vw;
  width: 40vw;
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-200);
}

.icon-state{
  border-radius: 50%;
  background-color: #8B5FBF;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

.name-state > p{
  margin-left: 10px;
  margin-top: 10px;
}

.info-state >h1{
  font-weight: 900;
  margin-left: 10px;
  margin-top: 10px;
}