*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--bg-200);
}

#home-page-top{
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 0px 2vw 0px 2vw;
    justify-content: space-between;
    align-items: center;
}

#home-page-my-parking{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: absolute;
    top: 24vw;
    left: 6vw ;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page-add-parking{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: absolute;
    top: 24vw;
    right: 6vw ;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page-find-parking{
    width: 44vw;
    height: 44vw;
    border-radius: 50%;
    position: absolute;
    top: 48vh;
    right: 50vw;
    margin-right: -20vw;
    margin-top: -20vw;
    background-color: #6528F7;
    color: snow;
    font-size: larger;
    font-weight: 600;
    box-shadow: 0px 0px 8px 6px #5f3aab;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page-profile{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: absolute;
    top: 84vh;
    right: 50vw;
    margin-right: -16vw;
    margin-left: -100vw;
    margin-top: -20vw;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

