*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:var(--bg-200);
}

.find-circle{
    height: 44vw;
}

.circle{
    height: 56vw;
    width: 56vw;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-100);
    box-shadow: 10px 10px 50px 1px var(--accent-200);
}

.circle>h1{
    font-size: 30px;
    color: white;
}

/* @keyframes car {
    0% {
      left: -50px;
    }
    100% {
      right: calc(100% + 50px);
    }
  } */


.car {
    position: absolute;
    left: -60px;
    height: 60px; 
    width: auto;
    transition: left 2s linear; 
  }

  @keyframes car {
    0% {
      left: -50px;
    }

    100%{
        right: calc(100% + 50px);
    }
  }
  
  .find-circle.drive-animation .car {
    left: calc(100% + 50px); 
  }

.my-parking-section{
    /* height: 48vw; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.my-parking-section>h2{
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.boxes-my-parking-section-centered {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    justify-content: center;
}
.boxes-my-parking-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
}
.my-parking-box{
    display: flex;
    flex-direction: column;
}

.my-parking-box>h2{
    font-size: 18px;
}

p{
    margin-left: 5px;
}

.add-parking-box{
    display: flex;
    flex-direction: column;
}

.add-parking-box>h2{
    font-size: 18px;
}

.my-parking{
    height: 48vw;
    width: 40vw;
    border-left: 3px solid;
    border-color: var(--primary-200);
    background-color:var(--accent-100);
    margin-left:10px;
    border-radius: 10px;
}


.add-parking{
    height: 48vw;
    width: 40vw;
    border-left: 3px solid;
    border-color: var(--primary-200);
    background-color:var(--accent-100);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10px;
    border-radius: 10px;
}

.history{
    height: 24vw;
    width: 92vw;
}

.history-link{
    height: 24vw;
    width: 92vw;
    border: 1px solid;
    background-color: var(--primary-100);
    color: white;
}

.history>h2{
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 5px;
}