*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#light-profile-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    color: var(--white-text);
}

#dark-profile-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    color: var(--black-text);
    background-color: var(--dark-background);
}

#profile-info-container{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-page-header-container{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#light-profile-page-header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-header);
    font-weight: bold;
}

#dark-profile-page-header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-header);
    font-weight: bold;
}

#light-profile-info{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
}

#dark-profile-info{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
}

.light-profile-detail{
    display: flex;
    background-color: var(--dark-container);
    width: 90%;
    height: 10vw;
    margin: 2vw;
    border-radius: 15px;
    font-size: 4vw;
}

.dark-profile-detail{
    display: flex;
    background-color: var(--bg-200);
    width: 90%;
    height: 10vw;
    margin: 2vw;
    border-radius: 15px;
    font-size: 4vw;
}

.profile-detail-divforicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.icon-con{
    width: 8vw;
    height: auto;
    color: white;
}

.profile-detail-divfortext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#profile-liesence-plate-header{
    color: black;
}

#license-pate-semi-header{
    color: black;
}


#profile-buttons-container{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#profile-edit-info{
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-100);
    height: 48px;
    width: 80%;
    color: white;
    font-size: large;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
}

#profile-parking-history{
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-100);
    height: 48px;
    width: 80%;
    color: white;
    font-size: large;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


@media screen and (min-width: 450px){
    #profile-info-container{
        width: 100vw;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #light-profile-info{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        padding: 8px;
    }
    
    #dark-profile-info{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        padding: 8px;
    }

    .light-profile-detail{
        display: flex;
        background-color: var(--dark-container);
        width: 620px;
        height: 100px;
        border-radius: 15px;
        font-size: 40px;
        margin: 10px;
    }
    
    .dark-profile-detail{
        display: flex;
        background-color: var(--bg-200);
        width: 620px;
        height: 100px;
        border-radius: 15px;
        font-size: 40px;
        margin: 10px;
    }

    .profile-detail-divforicon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    .icon-con{
        width: 15vw;
        height: auto;
    }
    
    .profile-detail-divfortext{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    
    #profile-buttons-container{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    
    #profile-edit-info{
        cursor: pointer;
        text-align: center;
        background-color: var(--primary-100);
        height: 48px;
        width: 80%;
        color: white;
        font-size: large;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    #profile-parking-history{
        cursor: pointer;
        text-align: center;
        background-color: var(--primary-100);
        height: 48px;
        width: 80%;
        color: white;
        font-size: large;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    

}
