*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#profile-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #A076F9;
}

#profile-info-container{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-info{
    width: 68vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    background-color: #EDE4FF;
    border-radius: 10px;
    padding: 8px;
}

.profile-personal-info{
    font-weight: 400;
    font-size: larger;
}




#profile-buttons-container{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#profile-edit-info{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-parking-history{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}