*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#not-found-page{
    width: 100vw;
    height: 100vh;
}

#not-found-header-container{
    width: 88%;
    height: auto;
    position: absolute;
    top: 35vw;
    left: 8vw;
}

#not-found-header{
    font-size: var(font-family);
    color: var(--dark-header);
}

#not-found-back-home-button{
    position: absolute;
    bottom: 15vw;
    right: 10vw;
    padding: 10px;
    background-color: purple;
    color: snow;
    text-decoration: none;
}