.add-parking-container{
  min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }

  /* .find-parking-input{
    background-color: green;
  }
  .find-parking-input::placeholder{
    color: white;
    background-color: green;
  } */
  
.add-parking-inputs-outside{
  color: var(--regular-text);
}


  .add-parking-title{
    text-align: center;
    color: var(--page-header);
    font-weight: bold;
  }
  
  .form-container .MuiTextField-root {
    margin-bottom: 16px;
    border: 1px var(--add-parking-border) solid;
    /* background-color: var(--container); */
    background-color: var(--add-parking-container);
    color: white;
  }
  

  
  .form-container .MuiButton-root {
    margin-top: 16px;
  }
  .time-picker-line{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .time-picker-form{
    width: 130%;
    background-color: rgba(255, 255, 255, 0.13);
    color: var(--regular-text);
  }
  .button-form{
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: var(--button-background);
    color: var(--button-text);
    height: 35px;
    font-size: large;
  }
  .button-form:hover{
    background-color: #8c5fbfaf ;
  }
  .addcomment{
    margin-top: 20px;
    min-height:200px ;
  }
  .comment{
    margin-top: 20px;
  }

  .day-checkboxes {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--regular-text);
  }
  
  .day-checkbox {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  
  .sub-titile-to-change-color{
    color: var(--regular-text);
  }
  .day-checkbox input[type="checkbox"] {
    margin-right: 2px;
  }
  .short-or-long{
    display: flex;
    justify-content: space-evenly;
  }
  .chosen-short{
    display: flex;
    justify-content: space-evenly;
  }
  .back-time{
    /* background-color: #e7b6eb38; */
    background-color: var(--add-parking-container-time);
  }

  .find-parking-input{
    color: white;
  }