.add-parking-container{
  min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;

    
  }
  .add-parking-title{
    text-align: center;
    color: var(--accent-200);
    font-weight: bold;
  }
  
  .form-container .MuiTextField-root {
    margin-bottom: 16px;
  }
  
  .form-container .MuiButton-root {
    margin-top: 16px;
  }
  .time-picker-line{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .time-picker-form{
    width: 130%;
    background-color: rgba(255, 255, 255, 0.13);
  }
  .button-form{
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-100);
    height: 35px;
    color: white;
    font-size: large;
    border-radius: 6px;
    border: solid white;
  }
  .button-form:hover{
    background-color: #8c5fbfaf ;
  }
  .addcomment{
    margin-top: 20px;
    min-height:200px ;
  }
  .comment{
    margin-top: 20px;
  }

  .day-checkboxes {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .day-checkbox {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  
  .day-checkbox input[type="checkbox"] {
    margin-right: 2px;
  }
  .short-or-long{
    display: flex;
    justify-content: space-evenly;
  }
  .chosen-short{
    display: flex;
    justify-content: space-evenly;
  }