.edit-autocomplete{
    padding-left: 1vw ;
    color: white;
    font-size: large;
}
.edit-autocomplete:hover{
    background-color: var(--primary-100) ;
}
.city-line-google:hover{
    font-weight: bold;
}
.location-search-input{
    width: 100%;
    /* color: var(--regular-text); */
    color: white;
}