
.upload-image-button{
    all: unset;
    background-color: var(--cloudnery-button);
    border-radius: 6px;
    color: var(--cloudnery-button-text);
    display: flex;
    justify-content: space-evenly;
    
    width: 45%;
    /* border: white solid  ; */
}
