*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-after-page{
    width: 100vw;
    height: 100vh;
    background-color: snow;
    position: relative;
    background-color: #A076F9;
}

#home-after-top{
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 0px 2vw 0px 2vw;
    justify-content: space-between;
    align-items: center;
}

#home-after-contact{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: absolute;
    bottom: 24vw;
    left: 6vw ;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-after-contact-image{
    width: 20vw ;
    height: 20vw;
}

#home-after-end{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: absolute;
    bottom: 24vw;
    right: 6vw ;
    background-color: #6528F7;
    color: snow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-after-timer{
    width: 44vw;
    height: 44vw;
    border-radius: 50%;
    position: absolute;
    top: 48vh;
    right: 50vw;
    margin-right: -20vw;
    margin-top: -20vw;
    background-color: #6528F7;
    color: snow;
    font-size: larger;
    font-weight: 600;
    box-shadow: 0px 0px 8px 6px #5f3aab;
    display: flex;
    justify-content: center;
    align-items: center;
}

