.history-pay-list{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.paying-history-container{
    height: 100vh;
}
#history-have-no-header{
    width: 100%;
    text-align: center;
}
#history-link-to-go-find{
    color: var(--accent-200);
}
.paying-history-title{
    text-align: center;
}

#paying-history-page-header{
    text-align: center;
    color: var(--accent-200);
    font-weight: bold;
  }

  .histoy-pay-event-tab{
    width: 100%;
  }

.one-paying{
    display: flex;
    width: 80%;
    background-color: var(--bg-200);
    height: 5vh;
    margin: 2vw;
}
.side-color-history{
    width: 1%;
    background-color: var(--dark-container);
}
.history-item-text{
    width: 99%;
    display: flex;
}


@media screen and (min-width: 450px){
    .history-pay-list{
        display: flex;
        text-align: -webkit-center;
    }

    .paying-history-container{
        height: auto;
    }
}