/* * {
    margin: 0;
    box-sizing: border-box;
  }
  
  .main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(100,40,243);
    background: linear-gradient(135deg, rgba(100,40,243,1) 0%, rgba(160,118,249,1) 35%, rgba(215,187,245,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 28rem;
    width: 22rem;
    box-shadow: 10px 10px 8px 1px #545454;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
  }
  
  input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #reg-btn {
    width: 100%;
    height: 2.5rem;
    background-color:rgba(160,118,249,1);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-top: 1rem;
  } */



  /* option2 */


  /* * {
    margin: 0;
    box-sizing: border-box;
  }
  
  .main-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(100,40,243);
    background: linear-gradient(135deg, rgba(100,40,243,1) 0%, rgba(160,118,249,1) 35%, rgba(215,187,245,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    height: 28rem;
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem;
  }
  
  input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #reg-btn {
    width: 100%;
    height: 2.5rem;
    background-color: rgba(100,40,243,1);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h1 {
    margin-bottom: 1rem;
    color: white;
  }
  
  p {
    margin-top: 1rem;
  }  */

  @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  .reg-background {
    /* background: linear-gradient(90deg, #C7C5F4, #776BCC); */
     background-image: url("http://res.cloudinary.com/deiofeueo/image/upload/v1690439126/mekisucxfedeuxtrcm6w.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Raleway, sans-serif;
  }
  
  .reg-screen {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: auto;
    width: 95%;
    box-shadow: 0px 0px 24px #5C5696;
  }
  
  .reg-screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    padding: 15px;
  }
  
  .reg-screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  
  .reg-screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .reg-screen__background__shape1 {
    height: 80%;
    width: 150%;
    background: #FFF;
    top: -6%;
    right: 30%;
    border-radius: 0 72px 0 0;
  }
  
  .reg-screen__background__shape2 {
    height: 38%;
    width: 60%;
    background: #6C63AC;
    top: -29%;
    right: 0;
    border-radius: 32px;
  }
  
  .reg-screen__background__shape3 {
    height: 94%;
    width: 55%;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -4%;
    right: 0;
    border-radius: 32px;
  }
  
  .reg-screen__background__shape4 {
    height: 70%;
    width: 60%;
    background: #7E7BB9;
    top: 70%;
    right: 10%;
    border-radius: 60px;
  }
  
  /* .login {
    width: 320px;
    padding: 30px;
    padding-top: 60px;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
  } */
  
  .reg-screen__content > h1 {
    font-size: 2.5rem;
    color: black;
  }
  
  .reg__field {
    padding: 10px 0px;
    position: relative;
  }
  
  .reg__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
  }
  
  .reg__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 10px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  }

  .reg__input::-webkit-input-placeholder{
    color: black;
  }

  .reg__input:active,
  .reg__input:focus,
  .reg__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
  }
  
  .reg__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 75%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .reg__submit:active,
  .reg__submit:focus,
  .reg__submit:hover {
    border-color: #6A679E;
    outline: none;
  }
  
  .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
  }
  
  .link-to-login{
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
  }
  
  /* Media Query for Responsive Layout */
  @media screen and (max-width: 480px) {
    .reg {
      width: 90%;
      max-width: 400px;
    }
  }