@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  /* background-color: var(--light-background) ; */
  background-image: url("http://res.cloudinary.com/deiofeueo/image/upload/v1690439126/mekisucxfedeuxtrcm6w.png");
  --white-text: #ffffff;
  --black-text: #4a4a4a;
  --dark-header: #895896;
  --light-header: #d7bbf5;
  --light-background: #f5f3f7;
  --dark-background: #4d3b64;
  --bright-container: #d7bbf5;
  --dark-container: #8b5fbf;
  font-family: "Roboto", sans-serif;
  --middle: #a076f9;
  --dark: #6528f7;
  font-family: "Roboto", sans-serif;
  --primary-100: #8b5fbf;
  --primary-200: #563763;
  --primary-300: #d7c5df;
  --accent-100: #b794c0;
  --accent-200: #895896;
  --text-100: #ffffff;
  --text-200: #909090;
  --bg-100: #3b2d4d;
  --bg-200: #e9e4ed;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--text);
}
