@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;  margin: 0;
  box-sizing: border-box;
}

.light-app-container {
  background-image: url("http://res.cloudinary.com/deiofeueo/image/upload/v1690439126/mekisucxfedeuxtrcm6w.png");
  --regular-text: black;
  --regular-border:black;
  --container: #b794c0; 
  --add-parking-container:transparent;
  --add-parking-container-time:#f8edf9;
  --add-parking-border:transparent;
  --button-background: #8b5fbf;
  --button-text: snow;
  --cloudnery-button:#b794c0;
  --cloudnery-button-text:snow;
  --page-header: #895896 ;
  --layout-top:#8b5fbf;
  --layout-right: snow;
  --layout-plate: white ; 
  --layout-chosen-plate: white;
  --parking-tab:#e9e4ed;
  --home-statistics: #e9e4ed;
  --home-button-timer: snow;
  --solo-inner-tab:#e9e4ed;
  --find-parking-tab:#D6C6E1;
  --bottom-sheet-container: snow;
}
.dark-app-container {
  background-image: url("http://res.cloudinary.com/deiofeueo/image/upload/v1691497691/ftvnhk7imtgvlt9kazsr.png");
  --regular-text: snow;
  --regular-border: snow;
  --container: #5e406b; 
  --add-parking-container:#886099;
  --add-parking-container-time:#886099;
  --add-parking-border: white;
  --button-background: #563763;
  --button-text: #d7bbf5;
  --cloudnery-button:#8b5fbf;
  --cloudnery-button-text:#cec0ef;
  --page-header: #d7bbf5 ;
  --layout-top:#8b5fbf;
  --layout-right: #4d3b64;
  --layout-plate:  #b18bd9; 
  --layout-chosen-plate: #cec0ef;
  --parking-tab:#895896;
  --home-statistics: #563763; 
  --home-button-timer: #d7bbf5;
  --solo-inner-tab:#895896;
  --find-parking-tab:#563763;
  --bottom-sheet-container: #5e406b;
}
br94c0
* {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--text);
}
