.bottom-sheet {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%; /* Set the desired height of the bottom sheet */
    background-color: #ffffff;
    padding: 16px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: scroll;
  }

  .close-button{
    all: unset;
    cursor: pointer;
    width: 100%;
  }
  .image-and-title-parking{
    display: flex;
    justify-content: space-between;
  }

  .parking-name-chosen{
    font-weight: bold;
    font-size: 28px;
  }
  .image-chosen{
    height: 100px;
    width: 100px;
  }
  .price-div{
    text-align: center;
    font-size: 24px;
    height: 15vw;
    background-color: var( --light-header);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price-bold{
    font-weight: bold;
  }
  .line-icon{
    display: flex;
    align-items: center;
  }
  .text-for-icon{
    width: 80%;
    text-align: center;
    font-size: 20px;
  }
  .parking-img-chosen{
    height: 150px;
    /* width: 150px; */
    object-fit: contain;
  }
  .start-parking-button{
    display: flex;
    justify-content: center;
  }
  .button-parking{
    all: unset;
    width: 90vw;
    height: 10vh;
    font-size: 30px;
    background-color: var(--primary-100);
    text-align: center;
    color: white;
    margin-top: 9vh;
  }
  .button-parking:hover{
    background-color: #8c5fbfaf ;
  }

  .img-bottom-carousel{
    margin-bottom: -5vh !important;
  }
  
  /* Add any other styles as needed */
  