*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#light-find-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--light-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#dark-find-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

#find-map-container{
    width: 100%;
    height: 40vh ;
}

#find-map-place-holder{
    width: 100%;
    height: 100%;
}


#light-find-container{
    width: 100%;
    height: 100%;
    background-color: var(--light-container);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
}

#dark-find-container{
    width: 100%;
    height: auto;
    background-color: var(--dark-container);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
}

#find-container-filters{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#find-location-filter{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 2vw 0px 2vw;
}

#find-current-location{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#light-find-change-location-BTN{
    border-radius: 10px;
    border: 2px solid var(--dark-background);
    background-color: var(--bright-container);
}

#around-find-anothr-location{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#find-anothr-location{
    width: 300px ;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 900;
    margin-left: -150px;
    margin-top: -200px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    background-color: var(--dark-container);
    border: 3px double black;
    padding:20px ;
}

#find-anothr-location-process{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.find-anothr-location-process{
    width: 30%;
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--dark-background);
    background-color: var(--bright-container);
}

#dark-find-change-location-BTN{
    border-radius: 10px;
    border:22px solid var(--bright-container);
    background-color: var(--dark-background);
    color: var(--white-text);
}

#find-filters{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

#find-filteres-sorting-section{
    width: 100%;
}

#find-filters-switch-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-sort-by{
    height: 100%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black ;
}

.chosen-find-sort-by{
    height: 100%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B794C0;
    box-shadow: inset 0px 0px 8px 2px black ;
}

#find-hours-filter{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.find-parking-time-input{
    width: 30%;

}

#find-container-parkings{
    width: 92%;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#find-parking-header{
    width: 92%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


.find-parking-tab{
    height: 24vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-left: 6px solid #8B5FBF;
    background-color: #D6C6E1;
    margin-bottom: 5px;
}

.find-parking-tab-distance{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-parking-tab-price{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-parking-tab-hours{
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-parking-tab-picture{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking-tab-picture{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

#load-more-parkings-tab{
    height: 24vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-left: 6px solid #8B5FBF;
    background-color: #D6C6E1;
    margin-bottom: 5px;}

#load-more-parkings-icon-container{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-more-parkings-header-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-more-parkings-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

